<ion-content class="ion-text-wrap">

        <div class="container">
                <div class="row">
                        <div class="col-3">____________</div>
                        <div class="col-4"></div>
                        <div class="col-5"></div>
                </div>
        </div>
        <div class="text">
                <ion-text padding>
                        <br><br>Obrigada
                        <br>Pela
                        <br>Sua
                        <br>Visita!
                </ion-text>
        </div>

        <div class="container2">
                <div class="row">
                        <div class="col-3">____________</div>
                        <div class="col-4"></div>
                        <div class="col-5"></div>
                </div>
        </div>

        <ion-tabs>
                <ion-tab-bar slot="bottom">
                        <ion-tab-button>
                                <ion-icon [routerLink]="'/home'" name="home"></ion-icon>
                                <ion-label>Home</ion-label>
                        </ion-tab-button>
                </ion-tab-bar>
        </ion-tabs>


</ion-content>