<ion-content class="ion-text-wrap">

    <div class="container">
        <div class="row">
            <div class="col-3">____________</div>
            <div class="col-4"></div>
            <div class="col-5"></div>
        </div>
    </div>
    <div class="text">
        <ion-text padding>
            <br><br>Seja
            <br>Bem
            <br>Vindo!
        </ion-text>
    </div>

    <div class="container2">
        <div class="row">
            <div class="col-3">____________</div>
            <div class="col-4"></div>
            <div class="col-5"></div>
        </div>
    </div>
    <div class="text2">
        <br>MUSEU DE ARTE
        <br>ASSIS CHATEAUBRIND
    </div>
    


</ion-content>