:host {
    ion-content {
      --background: none;
      background-image: url('/assets/imgs/waitBackground.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
  }
  }